*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* DEFINIÇAO DE CORES */

    /* Produto */
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;


    /* BASE */
    --bg-color: #0F172A;
    --stroke-color: #1E293B;

    /* TEXTOS */
    --text-color-primary: #f1f5ff;
    --text-color-secondary: #94a3b8;

    /* FONTES */
    --font-family: 'Archivo', sans-serif;
    --h1: 800 24px/135% var(--font-family);
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --text-sm: 400 14px/140% var(--font-family);
    

}
body{
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    font: var(--text);
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--brand-color-light);
}
h1, h2, h3 {
    font: inherit;
}
img{
    max-width: 100%;
    
}
.container{
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;

}
main{
    margin-top: 40px;
   
}